<h2
  class="m-3"
  style="border-bottom: 0.01em solid; color: rgb(88, 87, 87)"
></h2>
<div class="m-3">
  <div class="no-padding">
    © KAY.COM
    <span class="pull-right"
      ><img
        alt="Responsible Jewellery Council Logo"
        class="rjc-img"
        loading="lazy"
        src="https://www.kay.com/_ui/responsive/theme-kay-outlet/images/RJC_FooterLogo.jpg"
      /><a href="/privacy-policy?icid=FOOTER:PrivacyPoilcy">Privacy Policy</a>
      <span
        alt="Do Not Sell or Share My Personal Information"
        id="teconsent"
        title="Do Not Sell or Share My Personal Information"
      >
        <span class="hide-mob"> | </span> </span
      ><span class="hide-mob"> | </span>
      <a href="/kay-legal-disclaimers?icid=FOOTER:TermsCond">Terms of Use</a>
      <span class="hide-mob"> | </span>
      <a href="/sitemap">Site Map</a></span
    >
  </div>
</div>
