<nav class="navbar navbar-light bg-light navbar-expand-sm static-header">
  <div>
    <button class="navbar-toggler" type="button" (click)="sidenav.toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <i class="navbar-toggler fa-solid fa-location-dot"></i>
  </div>

  <a href="" data-di-id="di-id-4d71d105-f35de0df"
    ><img
      class="img-responsive"
      alt="Kay. The Diamond Store -Home"
      src="https://www.kay.com/medias/kay-logo.svg?context=bWFzdGVyfGltYWdlc3w5NDIyfGltYWdlL3N2Zyt4bWx8YURVeEwyZ3hOUzh4TlRRek1UVTRPRFkzTlRZeE5DOXJZWGxmYkc5bmJ5NXpkbWN8MTBkNjE3ZDdiM2FkMzg1YjkyZjJiYzBhOGNiNzc0Y2M0MzQ1MjU3NTUwNzA3YzEwNDJjYTBhNmRlMTVhYzdmMQ"
  /></a>

  <div class="navbar-toggler">
    <i class="fa-solid fa-truck"></i>
    <i class="fa-solid fa-bag-shopping mx-2"></i>
  </div>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav">
      <li
        class="nav-item"
        *ngFor="let item of navBarData?.children"
        [id]="item.id"
      >
        <span class="nav-link" [matMenuTriggerFor]="menu">{{ item.name }}</span>
        <mat-menu #menu="matMenu" class="menu-subcontent">
          <ng-container *ngFor="let child of item?.children">
            <button mat-menu-item style="font-weight: bold">
              {{ child.name }}
            </button>
            <button
              mat-menu-item
              class="ml-2"
              *ngFor="let gchild of child?.children"
              (click)="navigateToUrl(gchild.url)"
            >
              {{ gchild.name }}
            </button>
          </ng-container>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>
