<mat-sidenav-container>
  <mat-sidenav
    (openedChange)="toggleMenu()"
    class="sidenav"
    #sidenav
    mode="push"
  >
    <p>
      <button
        mat-button
        (click)="navBarData?.isParent ? sidenav.toggle() : back()"
      >
        Back
      </button>
    </p>
    <p *ngIf="!navBarData?.isParent" style="text-transform: uppercase">
      {{ navBarData?.name }}
    </p>
    <ul class="navbar-nav pr-2" *ngIf="navBarData?.children?.length > 0">
      <li
        class="nav- px-2"
        style="line-height: 4"
        *ngFor="let item of navBarData?.children"
        [id]="item.id"
        (click)="expandAndCollapse(item)"
      >
        <div class="d-flex justify-content-between">
          <span>{{ item.name }}</span>
          <i
            class="fa-solid fa-chevron-right"
            *ngIf="item?.children?.length > 0"
            style="line-height: inherit"
          ></i>
        </div>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="content px-lg-5">
    <app-static-header></app-static-header>
    <app-nav [sidenav]="sidenav" [navBarData]="navBarData"> </app-nav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
