.content {
  color: black;
  background-color: #fff;
}

.sidenav {
  width: 18rem;
  font-size: small;
  padding-left: 0.5rem;
  background-color: #fff;
  color: black;
  transform: none;
  visibility: visible;
}

li > span:hover {
  text-decoration: underline;
}

.mat-sidenav-content {
  height: 100vh;
}

.navbar-nav {
  li {
    background: #f8f9fa;
  }
  li:nth-child(odd) {
    background: #e9ecef;
  }
}

.mat-drawer-content {
  overflow: unset;
}
.mat-drawer-container {
  background-color: #fff;
}
