p {
    font-family: Lato;
  }

  .custom-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
 
.img-text {
  text-align: center;
  text-decoration: underline;
  font-size: xx-small;
}

.img-banner {
  border: 0.1em solid lightgray;
}
    .content {
      color: black;
      background-color: #fff;
      overflow: hidden;
    }

    .sidenav {
      width: 8rem;
      line-height: normal;
      font-size: small;
      padding-left: 1rem;
      background-color: #fff;
      color: black;
      transform: none;
      visibility: visible;
  }