<div class="carousel-banner static-header">
  Find the Perfect Valentine's Day Gift
  <a href="/valentines-gift-guide?icid=ROTATING:GLOBAL:VDAYGG24">Shop Now</a>
</div>
<div
  class="sm-mystore-navigation hidden-lg hidden-md mystore-geo static-header"
  data-url="/store-finder/local-store"
>
  <button
    class="select-store-text"
    data-origin-id="header"
    data-toggle="modal"
    data-target="#storeFinderFlyout"
  >
    Select Your Store
  </button>
</div>

<div class="top-links-mobile static-header">
  <ul>
    <li>
      <a href="/favorites" class="nav-links-mobile">
        <span
          class="icon top_mobile_icon fa-regular fa-heart"
          aria-hidden="true"
        ></span>
        <span>Favorites</span>
      </a>
    </li>
    <li>
      <a href="sms:+18552216255" class="nav-links-mobile">
        <span
          class="icon top_mobile_icon fa-regular fa-comment"
          aria-hidden="true"
        ></span>
        <span>Text An Expert</span>
      </a>
    </li>
    <li>
      <a href="/customer-service" class="nav-links-mobile">
        <span
          class="icon top_mobile_icon fa-solid fa-gear"
          aria-hidden="true"
        ></span>
        <span>Help Center</span>
      </a>
    </li>
  </ul>
</div>
