<h2 class="m-3" style="border-bottom: 0.01em solid; color: rgb(88, 87, 87)">
  HELP CENTER
</h2>
<div class="d-flex flex-column-reverse flex-sm-row m-3">
  <div class="box">
    <div class="pr-5">
      <h1>Customer Help Center</h1>
      <p>
        Need help with something? You're in the right place! From quick
        self-service tools to live support, we've got you covered.
      </p>
    </div>
  </div>
  <div>
    <img
      src="https://www.kay.com/scripts/assets/common/images/CustomerServiceBanner_3_mobile.png"
      alt="help center"
      class="img-fluid"
      style="width: -webkit-fill-available; height: 100%"
    />
  </div>
</div>

<div class="box m-3">
  <div class="pr-5">
    <h1>Self-Service Tools</h1>
    <p>
      Here are some quick links you can use to self-serve and find answers fast.
    </p>
  </div>
</div>
