<div class="content">
  <div
    style="
      overflow: auto;
      background-color: #000;
      text-align: center;
      font-size: medium;
      line-height: 3em;
      height: 3em;
    "
  >
    &nbsp;<a href="/coupons-offers-and-deals?icid=GLOBAL:DEALS"
      ><span bgcolor="#fafafa" style="color: #fff"
        ><strong
          ><span bgcolor="#FFF" style="color: #fff"
            ><u>SHOP ALL DEALS</u></span
          ></strong
        ></span
      ></a
    >&nbsp;
  </div>
</div>

<div>
  <img
    src="https://images-aka.kay.com/kay/homepage/2024/1.25/WMJ-24-001035_kay_1-25_1-28_hero_Sparkling_Svngs_dktp.jpg"
    style="max-width: -webkit-fill-available"
  />
</div>
<h2 style="text-align: center" class="m-2">BEST SELLERS</h2>
<div class="m-2">
  <div class="custom-card">
    <div class="m-2" *ngFor="let card of banners">
      <img
        class="img-banner"
        width="100"
        height="100"
        [src]="card.url"
        alt=""
      />
      <p class="img-text mt-1">{{ card.name }}</p>
    </div>
  </div>
</div>

<div class="my-2">
  <img
    src="https://images-aka.kay.com/kay/deals/2024/1.25/HP-Hero-Banner_B.jpg"
    style="width: -webkit-fill-available"
  />
</div>

<div class="my-2">
  <img
    src="https://images-aka.kay.com/kay/valentines-day-gift-guide/2024/k_valGG2024_50_forher_v2.jpg"
    style="width: -webkit-fill-available; height: 40vw"
  />
</div>
